.header {
    height: 100px;
    width:100%;
    opacity: 0.5;
    margin-top:10px;
}
.header img {
    opacity: 0.8;
}
.description {
    color: white;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: start;
}

.avatar {
    margin: 10px;
    height: 100px;
    border-radius: 50px;
}