.header {
    height: 200px;
    background: url(../../../assets/img/clouds.jpg) no-repeat center bottom;
    margin-top:10px;
}

.description {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

.avatar {
    margin: 10px;
    height: 100px;
    border-radius: 50px;
}