.header {
    grid-area: header;
    background: #25272A;
    mix-blend-mode: normal;
    opacity: 0.75;
    box-shadow: 0px 2px 25px black;
    display: flex;
    padding: 5px;
    gap: 10px;
}

.header img {
    float: left;
}

.brand {
    font-family: "Berlin Sans FB";
    position: relative;
    align-self: center;
    color:white;
    font-size: 24px;

}