.header{
  grid-area: header;
  background-color: #DD6E42;
  box-shadow: 0px 2px 25px black;

}
.header img{
  height: 150px;
  float: left;
}

.brand {
  font-family: "Berlin Sans FB";
  position: relative;
  font-size: 50px;
  margin-top: 2%;

}