.nav {
  grid-area: nav;
  background-color: darkgrey;
  padding: 10px 20px;
}

.item {
  color: #282c34;
  font-size: xx-large;
  font-weight: bold;
}

.item a {
  color:#282c34;
  text-decoration: none;
}

.item a:hover {
text-transform: uppercase;
}

a.activeLink {
  text-transform: uppercase;
  color: darkblue;
}