.nav {
  grid-area: nav;
  display:inline-block;
  padding: 10px 20px;
  border-right: solid 1px;
  border-color: deepskyblue;
}

.item a{
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  text-decoration: none;
  padding: 0 5px 8px 5px;
  border-radius: 10px;
  font-size: xx-large;
  text-transform: lowercase;
  justify-content: center;

}
.item a:hover {
  background-color: #F18303;
}
a.active {
  background-color: #F18303;
  color:white;
}
a.pending {
  background-color: #03A9F1;
  color: inherit;
}

