.loader
{
    display: inline-block;
    /*top:50%;*/
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #512DE4;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
/*.spinner{*/

/*    width: 20px;*/
/*    height: 20px;*/
/*    left: 2px;*/
/*    top: 22px;*/
/*    background: conic-gradient(from 90deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #512DE4 360deg);*/
/*    border-radius: 50%;*/
/*    transform: rotate(-90deg);*/
/*    animation: spin 1s ease-in-out infinite;*/
/*}*/
