.item {
  margin: 10px;
  color: aliceblue;
  text-transform: uppercase;
}
.wrapper{
  margin: 0 auto;
  padding: 10px;
}
.textarea {
  width: 80%;
  height: 200px;
  border-radius: 20px;
}

button {
  display: inline-block;
  margin-left: 10px;
  margin-top: 2px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: #0066cc;
  border: 1px solid transparent;
  padding: 0.375rem 1.75rem;
  font-size: 1rem;
  border-radius: 0.75rem;
}